.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-menu {
    flex-grow: 1;
}

.sidebar-footer {
    padding: 100px;
    text-align: center;
    color: red; /* Letras en rojo */
    background-color: red; /* Fondo en rojo */
    border: 2px solid red; /* Marco rojo */
}

.sidebar-footer a {
    color: red ;
    text-decoration: none;
}

.sidebar-footer a:hover {
    text-decoration: underline;
}